*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.header-items {
    display: flex;
    margin-bottom: 100px;
    
}
.header-bg-one {
    background-image: url(images/top-banner.png);
    background-position: left;
    background-repeat: no-repeat;
}
.header-details {
    width: 50%;
}
.mrl {
    margin-left: 10%;
}
.header-details h1{
    font-size: 40px;
}
.header-details p{
    margin-bottom: 30px;
}
.header-details a {
    background-image: linear-gradient(rgb(231, 157, 18), rgb(146, 120, 71));
    padding: 10px 40px;
    color: white;
    border-radius: 5%;
    text-decoration: none;
}
.header-name {
    color: orange;
}
.header-img img {
    width: 70%;
}
.header-bg {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-big-details {
    margin-top: 50px;
}
.experience-items {
    display: flex;
}
.experience-one {
    width: 40%;
    margin: 10px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5%;
}
#web-dev-one {
    border-image: linear-gradient(rgb(231, 156, 16), rgb(143, 113, 58));
    border-image-slice: 1;
    border-left: 7px solid;
}
#web-dev-two {
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-left: 7px solid;
}
footer p {
    text-align: center;
}